* {
    margin: 0;
    padding: 0;
}

/* Pre-loader styles */
.preloader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    /* Background color for the pre-loader */
    z-index: 9999;
    /* Higher z-index ensures the pre-loader appears on top of other content */
}

.loader {
    border: 4px solid #f3f3f3;
    /* Light gray border for the loader */
    border-top: 4px solid #3498db;
    /* Blue border for the rotating part of the loader */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1.5s linear infinite;
    /* Animation to rotate the loader */
}

.preloader.hidden {
    display: none;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

body {
    background-color: #1e1a4f;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 0 2rem;
    background-color: #130f40;
    margin-bottom: 20px;
}

nav ul {
    display: flex;
}

nav ul li {
    display: flex;
    list-style: none;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fef8fd;
    font-weight: bold;
}

nav ul li a:hover {
    color: rgb(203, 203, 203);
}

nav .header {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.header h1 {
    font-size: 2vw;
}

nav .search-bar {
    display: none;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px;
}



nav #logo {
    width: 30px;
    height: 30px;
    padding-right: 5px;
}

nav #profile {
    font-size: 2vw;
    border-radius: 50%;
}

nav button {
    text-decoration: none;
    color: #fef8fd;
    font-size: x-large;
    font-weight: bold;
    background-color: transparent;
    border: none;
    outline: none;
}

nav input {
    margin-left: 5px;
    width: 550px;
    height: 30px;
    border: none;
    border-radius: 10px;
    outline: none;
}

b {
    color: #fef8fd;
}

p {
    color: #eee;
}

i {
    color: #ffec78;
}

h1 {
    color: #fef8fd;
}



.container {
    background-color: #666c71;
    border-radius: 10px;
    margin: 0 auto;
    width: 600px;
    max-height: 470px;
    margin-bottom: 20px;
    padding: 10px;
    color: #eee;
    cursor: default;
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 5px;

}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
    height: 50px;
    padding: 30px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
    height: 100px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    display: block;
    height: 5px;
    background-color: transparent;
}

.container p {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 0;
}

.input-section {
    display: flex;
    justify-content: center;

}

.input-section input {
    width: 460px;
    height: 30px;
    padding-right: 0px;
    margin-right: 0;
    outline: none;
    padding: 5px;
    border: 2px solid #1abc9c;
    color: #eee;
    background-color: #2e3841;
}

.input-section button {
    width: 80px;
    padding-left: 0;
    margin-left: 0;
    padding: 11px;
    outline: none;
    background-color: #2ecc71;
    border: none;
    cursor: pointer;
}

.Btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

#clearBtn {
    display: flex;
    padding: 15px;
    outline: none;
    max-width: 250px;
    align-items: center;
    justify-content: center;
    background-color: #f1c40f;
    border: none;
    cursor: pointer;
}

.input-section button:hover {

    box-shadow: #35493e;

}

.deleteBtn .deleteIcon {
    margin-left: 5px;
    /* Add 5px space to the left of the icon */
    background-color: #666c71;
}

.container #todoList,
#completedTasks {
    list-style: none;
    margin: 20px;
}



#todoList button {
    border: none;
    background-color: #666c71;

}

#todoList li {
    margin-left: 0;
    margin-right: 0;
    margin-top: -1px;
    margin-bottom: -1px;
    padding: 10px;
    border: 2px solid #eee;
}

#todoList .taskInput {
    outline: none;
    border: none;
    padding: 2px;
    background-color: #666c71;
    width: 89%;
    color: azure;
}

/* Add these styles to your existing CSS */
.dragged {
    opacity: 0.5;
}

.list-item {
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
    cursor: grab;
    user-select: none;
    transition: background-color 0.3s ease;
}

.list-item:hover {
    background-color: #f5f5f5;
}


#completedTasks button {
    border: none;
    background-color: #666c71;
}

#completedTasks li {
    margin: -1px;
    padding: 10px;
    border: 2px solid #eee;
    list-style: none;
}

#completedTasks .taskInput {
    outline: none;
    border: none;
    padding: 2px;
    background-color: #666c71;
    width: 89%;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    background-color: #fff;
    border-radius: 4px;
    vertical-align: middle;
    /* Align checkbox and label in the same line */
    cursor: pointer;
}

input[type="checkbox"]:checked {
    color: white;
}

input[type="checkbox"]:checked+.taskInput {
    text-decoration: line-through;
    color: #e03434;
    /* You can change the color here */
}

footer {
    text-align: center;
    background-color: #130f40;
    color: #eee;
    padding: 10px;
    font-size: 1rem;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

@media screen and (max-width: 600px) {
    .header h1 {
        font-size: 7vw;
    }

    nav #profile {
        font-size: 10vw;
    }

    .search-bar {
        display: none;
    }

    .externalLinks {
        display: none;
    }

    .container {
        max-width: 350px;
    }

    .input-section input {
        max-width: 250px;
    }

    #todoList .taskInput {
        max-width: 80%;
        min-width: 50%;
    }

    #clearBtn {
        justify-content: center;
    }

    #gitBtn {
        margin-left: 27%;
        margin-bottom: 20px;
    }

    #completedTasks .taskInput {
        width: 80%;
    }
}